.timer {
    display: flex;
    flex-direction: column;

    &--header,
    &--clock {
        display: flex;
    }

    &--clock {

        justify-content: start;

        &-controls .ctrl-wrapper {
            height: 100px;
            min-width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid grey;
        }

        &-controls .ctrl {
            display: none;
        }

        &-controls .ctrl.current {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-times .time-slot-wrapper {
            display: flex;
            height: 100px;
            align-items: center;
        }
        &-times .time-slot {
            display: flex;
            border: 1px solid grey;
        }
    }
}