#app[location="Timers"] .dashboard[location="home"] {
    overflow: hidden;
    .dashboard--view {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 24px 64px;
        // flex-direction: column;    
    }
    .group {
        display: flex;
    }
}