:root {
  --sidebar_width: 64px;
  --sidebar_background: white;
  --sidebar_shadow: -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);
  --interface_width: 363px;
  --interface_background: white;
  --interface_shadow: 2px 4px 8px 2px rgba(128, 128, 128, 0.192);
  --margin: 8px;
  --border-radius__default: 8px;
  --main-clr__light: #333;
  --sub-clr__light: #333;
  --font-clr__light: rgba(20, 20, 21, 0.9);
  --task-complete-progress--daily: 50%;
}

/* box-shadow: 1px 1px 2px 0 rgba(27,31,35,.5); */
.menu {
  position: relative;
  height: 100%;
  min-width: fit-content;
  width: 64px;
  z-index: 100;
  /* transform: translateX(-200%); */
  /* opacity: 0; */
  transition: transform 500ms ease-in-out;
  transition: opacity 400ms ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* Click Outside Modal */
}
.menu__wrapper {
  position: relative;
  display: flex;
  z-index: 1000;
  width: 64px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  /* background: rgba(255, 255, 255, 0.94); */
  background: white;
  box-shadow: -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);
  transition: width 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menu__wrapper .svg,
.menu__wrapper svg {
  height: 40px;
  width: 40px;
  pointer-events: none;
}
.menu .sidebar {
  position: relative;
  display: flex;
  height: 100%;
  width: 64px;
  z-index: 10000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: -2px 4px 8px 2px rgba(128, 128, 128, 0.092);
  background: hsla(0, 0%, 100%, 0.85);
}
.menu .sidebar__tab-set {
  box-sizing: border-box;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background: blue; */
  border-top: 1px solid rgba(128, 128, 128, 0.1771);
  border-bottom: 1px solid rgba(128, 128, 128, 0.177);
  padding: 32px 0;
  margin: 32px 0;
}
.menu .sidebar__tab-set .tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.menu .sidebar__tab-set .tab__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu .sidebar__tab-set .tab__button.home, .menu .sidebar__tab-set .tab__button.theme {
  margin: 0;
}
.menu .sidebar__tab-set .tab__button.theme {
  transform: translateY(-12px);
}
.menu .sidebar__tab-set .tab__button.theme .sun {
  display: none;
}
.menu .sidebar__tab-set .tab__button:hover:not(.theme):not(.logo) {
  box-shadow: 0px 0px 7px -4px rgba(27, 31, 35, 0.412), 0px 0px 0px 1px rgba(27, 31, 35, 0.025), 0 2px 10px 0 rgba(27, 31, 35, 0.0128), 0 1px 2px 0 rgba(27, 31, 35, 0.1);
}
.menu .sidebar__tab-set .tab .modal {
  position: absolute;
  left: calc(100% + 20px);
  z-index: 100;
  box-shadow: 0px 2px 4px 1px rgba(126, 126, 126, 0.139), 2px 4px 20px 4px rgba(180, 180, 180, 0.139), 2px 4px 40px -4px rgba(180, 180, 180, 0.39);
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  transition: transform 200ms ease-in-out, opacity 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu .sidebar__tab-set .tab .modal.active {
  transform: rotateX(4deg) rotateY(-8deg) rotateZ(0deg);
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.menu .sidebar__tab-set .tab .modal.top-aligned {
  top: -20px;
}
.menu .sidebar__tab-set .tab .modal.bottom-aligned {
  bottom: -50%;
}
.menu .sidebar__tab-set .tab .modal[data-tab=settings] {
  top: -150px;
  transform: translateY(-20px);
}
.menu .cosm {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background: rgba(128, 128, 128, 0.836);
  pointer-events: none;
  transition: 150ms ease-in;
}
.menu .cosm.open {
  /* background: grey; */
  opacity: 1;
  pointer-events: all;
}

.dashboard[location=home] {
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.dashboard[location=home] .daily-metrics {
  margin: 0px 14px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 8px 14px -6px rgba(31, 31, 31, 0.515);
  overflow: hidden;
  padding-bottom: 24px;
}
.dashboard[location=home] .daily-metrics .task-metric {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.dashboard[location=home] .daily-metrics .task-metric > .mod {
  border-bottom: 0;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  padding: 24px;
  border-right-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to top, transparent, rgb(220, 220, 220)) 1;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .result {
  margin-top: 16px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .t-completed {
  margin-top: 16px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .t-completed .label {
  font-size: 32px;
  color: #132712;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .t-completed .res,
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .t-completed .divider {
  font-size: 24px;
  color: rgba(37, 37, 37, 0.8392156863);
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .indicator {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 24px;
  border-radius: 32px;
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.314), 0px 3px 8px -2px rgba(38, 38, 38, 0.483);
  overflow: hidden;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .progress {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00c93d, #379931);
  border-radius: 32px;
  transform: translateX(var(--task-complete-progress--daily));
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.603);
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul {
  margin-left: 0;
  padding-left: 0;
  position: relative;
  list-style: none;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul li {
  margin-top: 24px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul li div {
  margin-top: 4px;
  margin-left: 32px;
  font-size: 18px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul svg {
  margin-right: 4px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul .under-perf svg {
  fill: rgb(241, 58, 19);
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .perf-reccomendations ul .over-perf svg {
  stroke: #00c93d;
  fill: #00c93d;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .create-todo {
  position: absolute;
  bottom: -8px;
  right: 28px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-task-complete .create-todo span {
  cursor: pointer;
  color: #575757;
  text-decoration: underline;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed {
  padding: 24px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .allocations {
  display: flex;
  flex-wrap: wrap;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .module-title {
  margin: 16px 0;
  font-size: 32px;
  color: #132712;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .task-category {
  margin-top: 32px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .progress-wrapper {
  position: relative;
  margin-left: 12px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px -1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: transparent;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .daily-indicator {
  height: 100%;
  width: 100%;
  border: 4px solid transparent;
  z-index: 2;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .daily-label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
}
.dashboard[location=home] .daily-metrics .task-metric .module-weekly-completed .inner-indicator {
  position: absolute;
  inset: 0;
  z-index: 10;
  border-radius: 100%;
}
.dashboard[location=home] .daily-metrics .task-metric .weekly {
  align-self: flex-end;
  margin-left: 24px;
  margin-bottom: 4px;
}
.dashboard[location=home] .daily-metrics .task-metric .weekly .days {
  display: flex;
  font-size: 14px;
}
.dashboard[location=home] .daily-metrics .task-metric .weekly .days .day {
  margin-right: 8px;
}
.dashboard[location=home] .panel-wrapper {
  margin-top: 64px;
  margin-bottom: 175px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard[location=home] .task-module {
  height: 300px;
  width: 325px;
  margin: 48px 2vw;
  flex: 1;
  box-shadow: 0px 0px 2px -1px rgba(67, 67, 67, 0.2274509804), 0px 0px 3px 1px rgba(29, 29, 29, 0.0784313725), 0px 1px 8px -2px rgba(21, 21, 21, 0.3764705882), 0px 8px 14px -6px rgba(0, 0, 0, 0.262);
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.dashboard[location=home] .task-module[module=timers], .dashboard[location=home] .task-module[module=pomodoro] {
  transform: translateY(46px);
}
.dashboard[location=home] .task-module .now-playing {
  justify-self: stretch;
  align-self: flex-end;
  height: 80px;
  width: 100%;
  border-top: 2px solid rgba(193, 193, 193, 0.269);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.dashboard[location=home] .task-module .now-playing .btn-play-np {
  width: fit-content;
  fill: #525252;
  padding: 16px;
  cursor: pointer;
}
.dashboard[location=home] .task-module .now-playing .btn-play-np:hover {
  fill: #222;
}
.dashboard[location=home] .task-module .now-playing .np-ttl,
.dashboard[location=home] .task-module .now-playing .np-time-slot {
  padding-left: 24px;
  font-size: 20px;
}
.dashboard[location=home] .task-module .now-playing .np-ttl .session,
.dashboard[location=home] .task-module .now-playing .np-time-slot .session {
  fill: #555;
  margin-right: 2px;
}
.dashboard[location=home] .task-module .preview {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}
.dashboard[location=home] .task-module .preview {
  height: calc(100% - 100px);
  flex-grow: 1;
  padding: 24px;
  background: linear-gradient(#fcfcfc, white);
}
.dashboard[location=home] .task-module .preview .preview-title {
  margin-top: 8px;
}
.dashboard[location=home] .task-module .preview .preview-icon {
  margin-top: 10px;
}
.dashboard[location=home] .task-module .preview .ttl {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
  color: #444;
}
.dashboard[location=home] .task-module .preview .task-list {
  width: 100%;
  margin-left: 48px;
  border-left-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to top, transparent, rgb(220, 220, 220)) 1;
  overflow: scroll;
}
.dashboard[location=home] .task-module .preview .task-list ul {
  list-style: none;
}
.dashboard[location=home] .task-module .preview .task-list ul li {
  cursor: pointer;
  margin-top: 12px;
  font-size: 18px;
  color: #636363;
}
.dashboard[location=home] .task-module .preview .task-list ul li:hover {
  color: #333;
}
.dashboard[location=home] .metrics-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.dashboard[location=home] .metrics-wrapper .btn-scrollTo {
  position: absolute;
  top: -148px;
  right: 50px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
  color: #353535;
}
.dashboard[location=home] .metrics-wrapper .metrics-timeline {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
.dashboard[location=home] .metrics-wrapper .metrics-timeline .timeline {
  align-self: center;
  padding: 12px 24px;
  margin: 0 16px;
  font-size: 18px;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.169), 0px 1px 4px 1px rgba(0, 0, 0, 0.115), 0px 8px 14px -6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-width: 80px;
  text-align: center;
}
.dashboard[location=home] .metrics-wrapper .metrics-graph {
  position: relative;
  flex: 1;
  border-radius: 32px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.202), 0px 2px 14px -6px rgba(0, 0, 0, 0.615);
  border-radius: 12px;
  overflow: hidden;
  margin: 24px;
}
.dashboard[location=home] .metrics-wrapper .metrics-graph .m-graph {
  width: 100%;
  height: calc(100% - 100px);
  background-color: white;
}
.dashboard[location=home] .metrics-wrapper .metrics-graph .graph-type-banner {
  height: 100px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.115);
}

#app[location=Timers] .dashboard[location=home] {
  overflow: hidden;
}
#app[location=Timers] .dashboard[location=home] .dashboard--view {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 64px;
}
#app[location=Timers] .dashboard[location=home] .group {
  display: flex;
}

.dashboard {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}

.current-dateTime {
  margin-top: 16px;
  font-size: 16px;
  display: flex;
  align-self: center;
  padding: 10px 12px;
  box-shadow: 0px 0px 4px 1px rgba(158, 158, 158, 0.2274509804), 0px 1px 8px -2px rgba(99, 99, 99, 0.3764705882);
  border-radius: 6px;
  letter-spacing: 0.025em;
  color: #353535;
}

.current-dow {
  margin-right: 8px;
  margin-left: 4px;
}

.time-slot {
  display: flex;
  align-items: center;
  margin: 0px 8px;
}
.time-slot .time-divide {
  margin: 0px 1px;
}
.time-slot .current-context {
  margin-left: 3px;
}
.time-slot .idk {
  color: blue;
}

.timer {
  position: relative;
  justify-self: stretch;
  align-self: flex-end;
  height: 80px;
  border-top: 2px solid rgba(193, 193, 193, 0.269);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 10px 4px 10px;
  border: 0;
  border-radius: 14px;
  margin: 10px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.29);
}
.timer .sub-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer .edit-modal {
  position: relative;
  width: 50%;
  height: 70%;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.141);
  border-radius: 10px;
}
.timer .edit-modal .close {
  position: absolute;
  top: 40%;
  right: -64px;
  color: #454545;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}
.timer .sub-overlay {
  position: absolute;
  z-index: 100;
  inset: 0;
  background-color: white;
  pointer-events: none;
  opacity: 0;
}
.timer .sub-overlay.active {
  opacity: 1;
  pointer-events: all;
}
.timer[data-type=tracker].complete {
  background: lime;
}
.timer .timer-title,
.timer .time-slot {
  padding-left: 24px;
  font-size: 20px;
}
.timer .timer-title {
  width: 140px;
  cursor: pointer;
}
.timer .time-slot {
  margin-left: 8px;
}
.timer .options {
  margin-left: 12px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.timer .options > div {
  margin: 0px 5px;
}
.timer .timer--clock-controls .ctrl {
  display: none;
}
.timer .timer--clock-controls .ctrl.current {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer .play,
.timer .pause {
  width: fit-content;
  fill: #525252;
  padding: 16px;
  cursor: pointer;
}
.timer .play:hover,
.timer .pause:hover {
  fill: #222;
}
.timer .delete {
  margin-left: 8px;
}
.timer .delete:hover svg {
  fill: #ff878d;
}
.timer .edit:hover svg {
  fill: #f5e050;
}
.timer .reset {
  padding-top: 4px;
  padding-right: 16px;
  text-align: right;
  cursor: pointer;
}
.timer .reset:hover {
  color: #ff5349;
}

.np-timer {
  padding: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px #dbdcdc;
  margin: 12px 0;
}
.np-timer[state=playing] .control.pause {
  display: inline;
}
.np-timer[state=playing] .control.play {
  display: none;
}
.np-timer[state=paused] .control.pause, .np-timer[state=""] .control.pause {
  display: none;
}
.np-timer[state=paused] .control.play, .np-timer[state=""] .control.play {
  display: inline;
}
.np-timer .ctrl {
  border-radius: 50%;
  background-color: #dbdcdc;
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.np-timer .ctrl svg {
  height: 16px;
  width: 16px;
}
.np-timer .ctrl.playpause {
  margin-right: 10px;
}
.np-timer .control.play {
  padding-top: 2px;
  padding-left: 2px;
}
.np-timer .control.pause {
  padding-top: 4px;
}
.np-timer .control.pause svg {
  height: 18px;
  width: 18px;
}
.np-timer .ctrl.close svg {
  height: 14px;
  width: 14px;
}
.np-timer .timer--clock-controls {
  margin-right: 40px;
}
.np-timer .timer--clock-controls .ctrl-wrapper {
  display: inline-flex;
}
.np-timer .time-slot {
  font-size: 40px;
  color: #ed5216;
}
.np-timer .timer-title {
  align-self: flex-end;
  display: inline-flex;
  align-items: flex-end;
}

.recent-timer {
  padding: 20px;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  font-size: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px #dbdcdc;
  margin: 12px 0;
  cursor: pointer;
}
.recent-timer[state=playing] .control.pause {
  display: inline;
}
.recent-timer[state=playing] .control.play {
  display: none;
}
.recent-timer[state=paused] .control.pause, .recent-timer[state=""] .control.pause {
  display: none;
}
.recent-timer[state=paused] .control.play, .recent-timer[state=""] .control.play {
  display: inline;
}
.recent-timer .ctrl {
  border-radius: 50%;
  background-color: #dbdcdc;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-timer .ctrl svg {
  height: 12px;
  width: 12px;
}
.recent-timer .ctrl.playpause {
  margin-right: 6px;
}
.recent-timer .control.play {
  padding-left: 2px;
}
.recent-timer .control.pause {
  padding-top: 4px;
}
.recent-timer .control.pause svg {
  height: 18px;
  width: 18px;
}
.recent-timer .ctrl.close svg {
  height: 14px;
  width: 14px;
}
.recent-timer .timer--clock-controls {
  margin-right: 20px;
}
.recent-timer .timer--clock-controls .ctrl-wrapper {
  display: inline-flex;
}
.recent-timer .time-slot {
  font-size: 24px;
  color: #ed5216;
}
.recent-timer .timer-title {
  align-self: flex-end;
  display: inline-flex;
  align-items: flex-end;
}

.new-timer {
  pointer-events: none;
  top: 24px;
  padding: 24px;
  background: transparent;
  z-index: 100;
  transition: 500ms ease;
}
.new-timer.active {
  background: white;
  pointer-events: all;
}
.new-timer.active .new-timer-form {
  opacity: 1;
  pointer-events: all;
  transition: 500ms ease;
}

.new-timer-form {
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: white;
  z-index: 100;
}
.new-timer-form .slot {
  position: relative;
}
.new-timer-form .slot:hover .resetter {
  transform: translateY(8px);
  opacity: 1;
  border: 1px solid rgba(255, 127, 80, 0.185);
}
.new-timer-form .resetter {
  position: absolute;
  top: calc(100% + 8px);
  left: 17%;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px 8px;
  transition: 200ms ease;
  transform: translateY(8px);
  opacity: 0;
}
.new-timer-form .form-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-timer-form .form-close .header-title {
  color: #252525;
  font-size: 18px;
}
.new-timer-form .form-close .label {
  color: #252525;
  margin-bottom: 2px;
  font-size: 18px;
}
.new-timer-form .form-close .close {
  cursor: pointer;
}
.new-timer-form .form-timer-title {
  width: 100%;
  margin-top: 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
.new-timer-form .form-timer-title input {
  font-size: 24px;
  border: 1px solid transparent;
  outline: none;
}
.new-timer-form .form-timer-time-slot,
.new-timer-form .form-timer-days {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 16px;
  margin-top: 24px;
}
.new-timer-form .which {
  display: flex;
  margin-left: 16px;
  justify-content: start;
  align-items: center;
}
.new-timer-form .slot {
  position: relative;
  display: flex;
  align-items: end;
  margin-right: 24px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 8px;
  will-change: perspective;
}
.new-timer-form .slot .t-label {
  margin-left: 4px;
  color: #454545;
}
.new-timer-form .slot:hover {
  border: 1px solid rgba(204, 204, 204, 0.5843137255);
}
.new-timer-form .slot .input-slot {
  position: relative;
  overflow-y: scroll;
  border-radius: 2px;
  border: 1px solid rgba(204, 204, 204, 0.8196078431);
  background-color: transparent;
  height: 30px;
  width: 30px;
}
.new-timer-form .slot .input-slot.n-slot {
  margin-left: 4px;
}
.new-timer-form .slot .input-slot:hover .ph-scroll-trap {
  background-color: rgba(0, 0, 0, 0.159);
}
.new-timer-form .slot .ph-scroll-trap {
  width: 30px;
  position: absolute;
  top: -1000px;
  z-index: 100;
  height: 10000px;
  border-top: 1px solid red;
  border-bottom: 2px solid blue;
}
.new-timer-form .slot .ph-scroll {
  width: 30px;
  height: 30px;
  margin: 10px;
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 24px;
  border: 1px solid transparent;
}
.new-timer-form .slot .ph-scroll span {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.new-timer-form .slot .ph-scroll.n-scroll {
  margin-left: 44px;
}
.new-timer-form .slot input.t {
  border: 1px solid transparent;
  width: 2ch;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 10;
  position: absolute;
  z-index: -1;
  border-radius: 4px;
  overflow: hidden;
  color: transparent;
}
.new-timer-form .slot input.t:focus, .new-timer-form .slot input.t:hover {
  border: 1px solid #ccc;
}
.new-timer-form .slot input.t:focus {
  outline: 1px solid #222;
}
.new-timer-form .d {
  width: 24px;
  height: 24px;
}

.countdown-timer-list {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 860px;
  width: fit-content;
  overflow-y: hidden;
}
.countdown-timer-list .timer-list-items {
  margin-top: 24px;
  padding: 0px 10px;
  height: 100%;
  flex: 1;
  overflow: scroll;
}
.countdown-timer-list .timer-list-options {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
}
.countdown-timer-list .create-new {
  display: inline-flex;
  padding: 8px;
  align-items: center;
  font-size: 18px;
  border: 1px solid #dbdcdc;
  border-radius: 8px;
  cursor: pointer;
}
.countdown-timer-list .create-new .icon {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown-timer-list .create-new svg {
  height: 24px;
  width: 24px;
}

[location=Timers] .now-playing {
  padding: 24px;
}
[location=Timers] .now-playing .current-timer-title,
[location=Timers] .now-playing .recent-timer-title {
  font-size: 18px;
  word-wrap: nowrap;
  width: 420px;
  color: #252525;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.2901960784);
}
[location=Timers] .now-playing .placeholder {
  margin-left: 8px;
  font-size: 14px;
}
[location=Timers] .now-playing .recent-timer-title {
  margin-top: 24px;
}
[location=Timers] .now-playing .recent-timer-list {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

#app {
  display: flex;
  box-sizing: border-box;
  position: relative;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.app-col {
  flex: 1;
  height: 100%;
  position: relative;
}

.app-header {
  height: 100px;
  flex: 1;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1764705882);
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
.app-header .current-tab {
  align-self: center;
  margin: 16px;
  font-size: 24px;
  padding: 10px 8px;
  letter-spacing: 0.025em;
  color: #353535;
}

/*# sourceMappingURL=app.css.map */
