.create-tracker--form {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    &.active {
        display: flex;
        justify-content: center;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        padding: 16px;
        border: 1px solid black;
        cursor: pointer;
    }

}

form#create-tracker {
    position: absolute;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 200px;
    z-index: 10;
    border: 1px solid black;
    padding: 24px;
}