.new-timer-form {
    // opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;


    
    height: 320px;
    width: 99%;
    background-color: white;
    z-index: 100;
    border: 1px solid black;

    .title {
        width: 100%;
    }
}

.new-timer-form.active {
    opacity: 1;
    pointer-events: all;
}