.countdown-timer-list {
  // padding: 24px 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 860px;
  width: fit-content;
  overflow-y: hidden;

  .timer-list-items {
    margin-top: 24px;
    padding: 0px 10px;
    height: 100%;
    flex: 1;
    overflow: scroll;
  }

  .timer-list-options {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
  }

  .create-new {
    display: inline-flex;
    padding: 8px;
    align-items: center;
    font-size: 18px;
    border: 1px solid $silver;
    border-radius: 8px;
    cursor: pointer;
    .icon {
      margin-left: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px dotted red;
    }
    svg {
      height: 24px;
      width: 24px;
    }
  }
}
