#app[location="timer"],
#app[location="task"] {
  .dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 1;
  }
  .pg-1,
  .pg-2 {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .col-1,
  .col-2 {
    // min-width: 50%;
    height: 80vh;
    // border 1px dotted black;
  }

  .pg-2 {
    flex-direction: column;

    .row-2 {
      display: flex;
      flex-wrap: nowrap;
    }
    .col-1 {
      overflow: scroll;
    }
  }
  .timer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .current-timer,
  .module-monthly-indicators {
    // border: 1px dotted black;
    height: 300px;
    width: 450px;
  }

  .current-timer {
    height: 100%;
  }

  .indicators {
    // border: 1px dotted #ccc;
    width: 450px;
    height: 100px;
    display: flex;
    padding-left: 18px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // border-bottom: 1px solid black;
    .daily-indicator {
      height: 16px;
      width: 100px;
      background-color: $success-green;
      opacity: 0.5;
      border-radius: 8px;
      // border: 1px dotted blue;
    }
    .weekly-indicator {
      margin-top: 8px;
      background-color: rgb(241, 249, 3);
      height: 16px;
      width: 200px;
      border-radius: 8px;
      opacity: 0.5;
    }
  }

  .current-dashboard-label {
    display: flex;
    align-items: center;
  }

  .page-header {
    display: flex;
    align-items: baseline;
  }
  .search {
    height: 64px;
    width: 400px;
    border: 1px solid #ddd;
  }
  .pg-2 .col-2 {
    display: flex;
    flex-direction: column;
    .module-create-timer {
      height: 200px;
      width: 100%;
      border: 1px dotted blue;
    }
    .tabs {
      display: flex;
      justify-content: center;
      .tab {
        margin: 16px;
      }
    }
  }
}

.now-playing-column {
  display: flex;
  padding-right: 64px;

  .np-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
  }
  .timer-list-names {
    position: relative;
    flex: 1;
    padding-left: 16px;
    padding-top: 18px;

    .section-title {
      font-size: 24px;
      color: #353535;
      margin-bottom: 12px;
    }
    .namelist {
      border-left: 1px solid #35353535;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 8px;
      height: 200px;
      overflow: scroll;
      li {
        margin: 12px 0;
        font-size: 20px;
        text-transform: capitalize;
        color: #454545cf;
      }
    }
  }
}

.current-timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .section-title {
    font-size: 32px;
    color: #353535;
    text-transform: capitalize;
    padding: 18px;
  }
  .section-time-slot {
    padding-left: 18px;
    color: #353535;
    font-size: 28px;
  }
  .timer--clock-controls {
    position: absolute;
    bottom: 18px;
    right: 18px;
    cursor: pointer;
  }
  .indicators {
    justify-self: flex-end;
  }

  .btn-add-note {
    margin: 24px auto;
    padding-left: 18px;
    .create {
      padding: 16px 24px;
      background-color: rgb(9, 149, 231);
      border-radius: 8px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.075em;
    }
  }
  .timer-note-title {
    font-size: 28px;
    color: #454545;
    padding-left: 18px;
    padding-bottom: 18px;
  }
  .create-note {
    textarea {
      width: 100%;
      border-radius: 8px;
      padding: 8px;
      border: 0;
      resize: none;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.195);
    }
  }
}
