$success-green: #00c93d;
$success-gradient: linear-gradient(#00c93d, #379931);
$failure-red: rgb(241, 58, 19);
$cold-blue: rgb(9, 149, 231);
$border-trim-color: #333;
$sidebar-background: hsla(0deg, 0%, 100%, 85%);


$border-1: #333;
$border-2: #8080802d;

$font-1: #222;
$font-2: #353535;
$font-3: #555;
$font-4: #656565;

