$shadow-input-1: 0px 0px 4px -1px rgba(0, 0, 0, 0.614),
  0px 3px 8px -2px rgba(38, 38, 38, 0.783);

$shadow-sidebar: -2px 4px 8px 2px rgba(128, 128, 128, 0.0392);

$shadow-interface: 2px 4px 8px 2px rgba(128, 128, 128, 0.192);